* {
    margin: 0;
    padding: 0;
}

body {
    background: #1B998B;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;

}

.first-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    color: #333;
}

img {
    height: 40px;
    width: 40px;
    margin-left: 15px;
}

.textarea-div {
    display: flex;
    justify-content:center;
    align-items: center;
}

textarea {
    height: 100px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none;
}

#btn1 {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 275px 10px 275px;
    cursor: pointer;
    font-size: 12px;
}

#btn1 :hover {
    background-color: #0056b3;
}

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#btn2 {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 275px 10px 275px;
    cursor: pointer;
    font-size: 12px;   
}

#btn2 :hover {
    background-color: #0056b3;
}

.note {
    background-color: #fafafa;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #007bff;
    border-radius: 8px;
}

.note-card {
    background-color: #fff9c4;
    border-left: 5px solid #ffc107;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-group {
    margin-top: 8px;
}